*__pycache__
*.pyc
dirxam/api_token.py
dirxam/DM-Modules
dirxam/loaded_modules
dirxam*.session*
database-*.json
*.swp
.setup_complete
.tox
.idea/
venv/
data/
mishase_cache/
translations/
api_token.txt
.coverage
.vscode/
dm-install.log
config.ini
.cache
config-*.json
config.json
*cache*.json
*.jpg
*.jpeg
*.webp
*.webm